<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <a href="/">Inicio</a>
    <a href="/About/">Sobre Mi</a>
    <a href="/blog/">Blog</a>

    <h1>Bienvenidos a mi Blog</h1>
    <p>Les doy la bienvenida, pues este es un blog totalmente improvisado. <br> asi que yoloswag.</p>

</body>
</html>