---
const blogTitle = "Mi Blog de Aprendizaje"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{blogTitle}</title>
</head>
<body>
    <a href="/">Inicio</a>
    <a href="/About/">Sobre Mi</a>
    <a href="/blog/">{blogTitle}</a>

    <h1>Bienvenidos a {blogTitle}</h1>
    <p>Les doy la bienvenida, pues este es un blog totalmente improvisado. <br> asi que yoloswag.</p>
    <ul>
        <li><a href="/posts/post-1/">Publicación 1</a></li>
        <li><a href="/posts/post-2/">Publicación 2</a></li>
        <li><a href="/posts/post-3/">Publicación 3</a></li>
      </ul>

</body>
</html>